.body-about {
    background:center no-repeat fixed url('/assets/img/about/bg_suburb.jpg');
}

.v-center {
    font-size:70px;
}

@media (max-width: 560px) {
    .v-center {
        font-size: 50px;
    }
}

.well {
    border-color:transparent;
}

a.list-group-item.active {
    background-color: #1d9d74;
    border-color: #1d9d74;
    color:#fff;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    z-index: 2;
    color: #fff;
    background-color: #48c9b0;
    border-color: #48c9b0;
}

.btn-gray {
    background-color: #494949;
    color: #fff;
}

.btn-gray:hover,
.btn-gray:focus {
    opacity: 0.8;
    color: #fff;
}

.chart-container {
    padding-top: 50px;
}

#about-page section {
    padding-top:70px;
    padding-bottom:50px;
    min-height:calc(100% - 1px);
}

#about-page #section1 {
    margin: 100px;
    background-color: #1d9d74;
    color:#fff;
}

@media (max-width: 465px) {
    #about-page #section1 {
        margin: 50px;
    }
}

@media (max-width: 355px) {
    #about-page #section1 {
        margin: 20px;
    }
}

#about-page #section2 {
    background-color: #e5e5ef;
    color:#424242;
}

#about-page #section3 {
    background-color: #1d9d74;
    color:#fff;
}

#about-page #section4 {
    background-color: #fff;
    color:#444;
}

#about-page #section5,#section7,#section7 a {
    color:#f5f5f5;
}

#about-page #section6 {
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px !important;
    background-color: #000;
    color:#ddd;
}

@media (max-width: 465px) {
    #about-page #section6 {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (max-width: 355px) {
    #about-page #section6 {
        margin-left: 20px;
        margin-right: 20px;
    }
}


#about-page #section6 a {
    color:#ffffff;
}

#about-page #hero-bar {
    position: relative;
    left: 0;
    top: 0;
    z-index: 99;
    padding-right: 0;
}

#logo-heroku {
    opacity: 0.8;
    width: 50%;
    height: 50%;
}

#logo-heroku:hover,
#logo-heroku:focus {
    opacity: 0.4;
}