#scheduler-page {
    height:100%;
    background:center no-repeat fixed url('/assets/img/about/bg_suburb.jpg');
    background-size: cover;
}

#scheduler-page section {
    padding-top:70px;
    padding-bottom:50px;
    min-height:calc(100% - 1px);
}


#scheduler-page #section1 {
    color:#fff;
    padding-left: 0;
    padding-right: 0;
}
